@import url('font-awesome.min.css');
html, body{
    background-color: #f0f0f0;
    font-family: arial;
    font-size: 14px;
        height: 100%;
}
a {
    color: #556370;
    text-decoration: none;
}
.text-underlined{
    text-decoration: underline;
}
.wrapper{
  position: relative;
  min-height: 100%;
  width: 100%;
}
.sidebar{
    width: 230px;
    background-color: #556370;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    transition: left 0.25s ease-in-out;
}
.page-wrapper{
    margin-left: 230px;
    transition: transform 0.25s ease-in-out;
}
.text-shadow-white {
  text-shadow: 1px 1px rgba(255, 255, 255, 1);
}
.top-nav-bar {
  background-color: #fff;
  border: 0 none;
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 1px #e5e5e5 solid;
}
.page-title {
  color: #556370;
  font-size: 24px;
  margin: 15px 0 5px;
}
.bread-crumb {
  color: #9c9c9c;
  font-size: 12px;
}
.bread-crumb > a {
  color: #556370;
}
.left-menu .menu-list{
     border-top: 1px #3F4953 solid;
  border-bottom: 1px #717F8C solid;
}
.left-menu .menu-items{
  border-bottom: 1px #3F4953 solid;
  border-top: 1px #717F8C solid;
}
.left-menu .menu-items > a, .left-menu .menu-items > span, .left-menu .sub-menu-item > a, .menu-not-found  {
  color: #aab3bc;
  display: block;
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
}
.menu-not-found{
  text-align: center;
  display: none;
}
.left-menu .sub-menu-item > a {
  padding: 7px 15px;
}
.left-menu .menu-items > a > i {
    margin-right: 10px;
}
.sub-menu-list {
    background-color: #3f4953;
    padding-left: 15px;
    position: relative;
  display: none;
}
.link-not-found{ display: none; }
.left-menu .sub-menu-item > a::before{
  position: absolute;
  content: "";
  height: 1px;
  width: 15px;
  background-color: #4d5a67;
  left: 0px;
  top: 50%;
  margin-top: 0.5px;
}
.sub-menu-list::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #4d5a67;
  left: 15px;
  top: 0;
}
.left-menu .menu-items > a:hover, .left-menu .menu-items:hover > a, .left-menu .menu-items > a:focus{
    text-decoration: none;
    outline: none;
}
.user-info {
  background-color: #3f4953;
  padding: 20px 15px;
}
.user-info .media-body {
  vertical-align: middle;
}
.user-name, .user-name:hover {
  color: #abb4bd;
  font-weight: bold;
}
.user-designation{
  color: #abb4bd;
  font-size: 12px;
  display: block;
}
.user-icon{
    position: relative;
}
.user-stat {
  background-color: greenyellow;
  border-radius: 50px;
  display: inline-block;
  height: 12px;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 12px;
}
.left-menu-search {
  padding: 20px 15px;
}
.menu-search-box {
    background-color: #3f4953;
    border: 0 none;
    border-radius: 50px;
    color: #abb4bd;
    width: 100%;
    padding-left: 25px;
    position: relative;
}
.menu-search-box > i {
    position: absolute;
    top: 10px;
    left: 10px;
}
.menu-search-box > input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 0 none;
    height: 35px;
    width: 100%;
    padding-left: 4px;
    padding-right: 15px;
}
.menu-search-box > input[type="text"]:focus{
outline: 0 none;
}
.menu-search-box > input[type="text"]::-webkit-input-placeholder{ opacity: 0.5; }
.menu-search-box > input[type="text"]::-moz-placeholder{ opacity: 0.5; }
.page-info {
  margin-bottom: 15px;
}
.panel{
    border-radius: 0px;
    margin-bottom: 15px;
}
.panel-footer {
  background-color: #fff;
  padding: 15px;
}
.panel-body {
    padding: 15px;
}
.panel-heading{
    font-weight: bold;
    color: #666666;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    border-radius: 0px;
}
.panel-default .panel-heading{
   background-image: -moz-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%); 
}
.form-control{
    border-radius: 0px;
}
textarea{
  min-height: 150px;
  resize: none;
}
.select-box{
    background-image: -moz-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%); 
    font-family: inherit;
    border: 1px solid #ccc;
      position: relative;
}
.select-box:before {
    content: "";
    height: 34px;
    position: absolute;
    right: 40px;
    width: 2px;
    border-left: 1px #fff solid;
    border-right: 1px #dcd9d9 solid;
}
.select-box:after {
    top: 50%;
    right: 13px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(204, 204, 204, 0);
    border-top-color: #999;
    border-width: 7px;
    margin-left: -7px;
    margin-top: -3.5px;
}
.select-box select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 34px;
  background-color: transparent;
  font-family: inherit;
  border: 0 none;
  padding: 6px 12px;
  color: #555;
  font-size: 14px;
}
.btn-primary {
    color: #fff;
    background-color: #556370;
    border-color: #3f4953;
}
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus
  {
    color: #fff;
    background-color: #3f4953;
    border-color: #3f4953;
    outline: 0 none;
}
.dropdown-menu{
  display: block;
  opacity: 0;
  z-index: -5;
  visibility: hidden;
  top: 40px;
  transition: opacity 0.25s ease-in-out, top 0.25s ease-in-out ;
  -webkit-transition: opacity 0.25s ease-in-out, top 0.25s ease-in-out ;
  -moz-transition: opacity 0.25s ease-in-out, top 0.25s ease-in-out ;
  -ms-transition: opacity 0.25s ease-in-out, top 0.25s ease-in-out ;
  -o-transition: opacity 0.25s ease-in-out, top 0.25s ease-in-out ;
}
.dropdown-menu>li>a{
  white-space: normal;
}
.open>.dropdown-menu{
    opacity: 1;
    z-index: 1;
    visibility: visible;
    top: 100%;
    right: 10px;
}
.dropdown-menu:after, .dropdown-menu:before {
    bottom: 100%;
    right: 4px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.dropdown-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 7px;
  margin-left: -7px;
}
.dropdown-menu:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #8c8c8c;
    border-width: 8px;
    right: 3px;
}
.dropdown-menu.dropdown-menu-right:after, .dropdown-menu.dropdown-menu-right:before{
  left: auto;
  right: 10px; 
}
.dropdown-menu.dropdown-menu-right:after{
  margin-right:2px;
  margin-left: auto;
}
.dropdown-menu.dropdown-menu-right:before{
  margin-right:1px;
  margin-left: auto;
}
.dropdown-menu.dropdown-menu-left:after, .dropdown-menu.dropdown-menu-left:before{
  left: 10px;
}
.dropdown-menu.dropdown-menu-left:after{
  margin-left: 2px;
}
.dropdown-menu.dropdown-menu-left:before{
  margin-left: 1px;
}
.author-dropdown{
  position: relative;
}
.author-dropdown .author-pic{
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -16px;
}
.nav > .author-dropdown > a {
  padding-left: 15px;
}
.logo h1{
  color: #556370;
  margin: 0;
}
.logo .punchline{
  color: #999;
}
.box-center-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.box-center-content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-35%);
    -webkit-transform: translate(-50%,-35%);
    -moz-transform: translate(-50%,-35%);
    -o-transform: translate(-50%,-35%);
    -ms-transform: translate(-50%,-35%);
}
label{
  color: #555;
}
.code-snippet{
  word-wrap: break-word;
}
.fa-hover {
    padding: 9px 15px;
}
.show-grid {
    margin: 15px 0;
}
.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #929aa2;
    background-color: #ccd2d8!important;
}
.top-nav-bar .dropdown-messages, .top-nav-bar .dropdown-tasks, .top-nav-bar .dropdown-alerts {
    width: 310px;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #cdd3d8;
    border: 1px solid #a8b2bb;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.jumbotron {
    background-color: #cdd3d8;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}
.btn-primary.btn-outline {
    color: #3f4953;
}
.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
.footer {
    background-color: #fff;
    padding: 15px 0;
    font-size: 12px;
    border-top: 1px #e5e5e5 solid;
    margin-top: 30px;
    color: #999;
}
/********* Loaders start *************/
.loader {
  display: inline-block;
  background-image: url("../images/spinner.gif");
  background-repeat: no-repeat;
  background-position: center;
  width: 55px;
  height: 50px; 
}

.loader-overlay, .page-loading {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; 
}
.loader-overlay .loader, .page-loading .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); 
}

.page-loading {
  position: absolute;
  z-index: 1055;
}
.page-content{
  position: relative;
}
.themealert{
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  width: 400px; 
  margin: 0 auto;
  max-width: 100%;
}
.ng-cloak{
  display: none;
}
/********* Loaders end *************/
.mt-10{
  margin-top: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
/*********Responsive***********/
@media only screen and ( min-width: 768px ){
    .page-content{
        min-height: 490px;
    }
}
@media only screen and ( max-width: 767px ){
  .sidebar{
    left: -100%;
  }
  .page-wrapper{
    margin-left: 0px;
  }
  .top-nav-bar .navbar-header {
      float: left;
  }
  .top-nav-bar .navbar-nav {
      float: right;
      margin: 0px -15px;
  }
  .top-nav-bar .navbar-nav > li{
    float: left;
  }
  .top-nav-bar .navbar-nav > li > a {
      padding-top: 15px;
      padding-bottom: 15px;
  }
  .top-nav-bar .navbar-toggle{
    float: left;
    border: 0 none;
    margin-right: 0px;
  }
  .top-nav-bar .navbar-brand{
    padding: 15px 10px;
  }
  .wrapper{
    overflow: hidden;
  }
  .wrapper.show-sidebar > .sidebar{
    left: 0px;
  }
  .wrapper.show-sidebar > .page-wrapper{
    transform: translateX(230px);
  }
  .wrapper.show-sidebar .navbar-toggle .icon-bar.one {
    transform: rotate(-45deg);
    width: 15px;
  }
  .wrapper.show-sidebar .navbar-toggle .icon-bar.two {
      transform: translateX(1px);
  }
  .wrapper.show-sidebar .navbar-toggle .icon-bar.three {
      transform: rotate(45deg);
      width: 15px;
  }
  .top-nav-bar .navbar-toggle .icon-bar {
      transition: transform 0.3s ease-in-out 0s;
  }
  .top-nav-bar.navbar-default .navbar-toggle:focus, .top-nav-bar.navbar-default .navbar-toggle:hover {
      background-color: #fff;
  }
  .navbar-nav .open .dropdown-menu {
      position: absolute;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: #fff;
      border: 1px solid #ccc;
      -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
      -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
      -ms-box-shadow: 0 6px 12px rgba(0,0,0,.175);
      -o-box-shadow: 0 6px 12px rgba(0,0,0,.175);
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
}
/*********Responsive***********/
