<!DOCTYPE html>
<html ng-app="app" lang="en" class="ng-cloak">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>clicbrics</title>

    <link rel="icon" href="images/favicon.png">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/index.css" type="text/css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper" ng-controller="indexController">
      <div class="sidebar">
          <div class="user-info">
              <div class="media">
                  <div class="media-left user-icon">
                      <img class="media-object img-circle" src="images/no-user-img.jpg" alt="user" width="40">
                  </div>
                  <div class="media-body">
                      <span class="user-name">User</span>
                      <span class="user-designation">User Role</span>
                  </div>
              </div>
          </div>
          <!--Left menu start-->
          <div class="left-menu">
              <ul class="menu-list">
                  <!-- <li class="menu-items">
                      <a title="Charts"><i class="fa fa-fw fa-area-chart"></i>Charts &amp; Graphs</a>
                      <ul id="charts-menu" class="sub-menu-list">
                          <li class="sub-menu-item"><a href="flot.php" title="">Flot</a></li>
                          <li class="sub-menu-item"><a href="morris.php" title="">Morris</a></li>
                          <li class="sub-menu-item"><a href="google.php" title="">Google</a></li>
                      </ul>
                  </li> -->
                  <li class="menu-items">
                      <a ui-sref="bank" title="Bank"><i class="fa fa-flag fa-fw"></i>Bank</a>
                  </li>
                  <li class="menu-items">
                      <a ui-sref="lead" title="Lead"><i class="fa fa-flag fa-fw"></i>Lead</a>
                  </li>
              </ul>
          </div>
          <!--Left menu end-->
      </div>
      <div class="page-wrapper">
        <nav class="navbar navbar-default top-nav-bar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar one"></span>
                        <span class="icon-bar two"></span>
                        <span class="icon-bar three"></span>
                    </button>
                    <h3 class="navbar-brand">{{pageTitle}}</h3>
                </div>
                <!-- <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown author-dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
                        <span class="hidden-xs">
                          <i class="fa fa-user"></i>
                          My Account</span> <span class="caret">
                        </span>
                      </a>
                      <ul class="dropdown-menu dropdown-user">
                          <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                          </li>
                          <li class="divider"></li>
                          <li><a><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                          </li>
                      </ul>
                  </li>
                </ul> -->
            </div>
        </nav>
        <section class="page-content">
          <div class="container-fluid">
            <div class="row">
              <div ui-view></div>   
            </div>
          </div>
          <div class="page-loading" ng-show="loading"><div class="loader"></div></div>
        </section>  
      </div>
    </div>  
    <script type='text/javascript' src="js/jquery-1.12.4.min.js"></script>
    <script type='text/javascript' src="js/angular.min.js"></script>
    <script type='text/javascript' src="js/angular-ui-router.min.js"></script>
    <script type='text/javascript' src="js/angular-cookie.min.js"></script>
    <script type='text/javascript' src="js/bootstrap.min.js"></script>
    <script type='text/javascript' src="js/theme.js"></script>
    <script type='text/javascript' src="js/oclazyload-require.min.js"></script> 
    <script type='text/javascript' src="js/oclazyload.min.js"></script>
        
    <script type='text/javascript' src="app/app.js"></script>
    <script type='text/javascript' src="app/service.js"></script>

    <script type='text/javascript' src="app/controllers/indexController.js"></script>
  </body>
</html>