<div class="col-md-12">
	<div class="text-right">
		<button type="button" class="btn btn-primary mt-10 mb-10" ng-click="showBankProductModal()">Add New Bank Product</button>
	</div>
	<div class="table-responsive" ng-show="bankProducts.length">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Id</th>
					<th>Name</th>
					<th>Sales Type</th>
					<th>Commission</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="b in bankProducts">
					<td>{{$index+1}}.</td>
					<td>{{b.code}}</td>
					<td>{{b.name}}</td>
					<td>{{b.bankSalesType}}</td>
					<td>{{b.commission}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Add bank modal -->
	<div class="modal fade" id="addNewBankProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add New Bank Product</h4>
				</div>
				<div class="modal-body">
					<form name="bankForm" ng-submit="saveBankProduct()" novalidate="novalidate">
						<div class="form-group" ng-class="{'has-error':bankForm.name.$error.required&&bankForm.$submitted}">
							<label>Name</label>
							<input type="text" class="form-control" name="name" ng-model="bankProduct.name" required>
						</div>
						<div class="form-group" ng-class="{'has-error':bankForm.salestype.$error.required&&bankForm.$submitted}">
							<label>Bank Sales Type</label>
							<select class="form-control" ng-model="bankProduct.bankSalesType" name="salestype" required>
								<option ng-repeat="s in bankSalesType" value="{{s}}">{{s}}</option>
							</select>
						</div>
						<div class="form-group" ng-class="{'has-error':bankForm.commission.$error.required&&bankForm.$submitted}">
							<label>Commission</label>
							<input type="text" class="form-control" name="commission" ng-model="bankProduct.commission" required>
						</div>
					<form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="saveBankProduct()">Add</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal end-->
</div>
