<div class="col-md-12">
	<div class="text-right">
		<button type="button" class="btn btn-primary mt-10 mb-10" ng-click="showBankModal()">Add New Bank</button>
	</div>
	<div class="table-responsive" ng-show="banks.length">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Bank Id</th>
					<th>Bank Name</th>
					<th>Bank Product</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="b in banks">
					<td>{{$index+1}}.</td>
					<td>{{b.bankId}}</td>
					<td>{{b.name}}</td>
					<td>
						<a ui-sref="bankproduct({bank:b.bankId,name:b.name})" class="btn btn-primary btn-sm" title="View Bank Product">View Bank Product</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Add bank modal -->
	<div class="modal fade" id="addNewBankModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add New Bank</h4>
				</div>
				<div class="modal-body">
					<form name="bankForm" ng-submit="saveBank()" novalidate="novalidate">
						<!-- <div class="form-group" ng-class="{'has-error':bankForm.bankId.$error.required&&bankForm.$submitted}">
							<label>Bank Id</label>
							<input class="form-control" name="bankId" ng-model="bank.bankId" required>
						</div> -->
						<div class="form-group" ng-class="{'has-error':bankForm.name.$error.required&&bankForm.$submitted}">
							<label>Bank Name</label>
							<input type="text" class="form-control" name="name" ng-model="bank.name" required>
						</div>
					<form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="saveBank()">Add</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal end-->
</div>
