<div class="col-md-12">
	<div class="text-right">
		<button type="button" class="btn btn-primary mt-10 mb-10" ng-click="showLeadModal()">Add New Lead</button>
	</div>
	<!-- <div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Bank Id</th>
					<th>Bank Name</th>
					<th>Bank Product</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="b in banks">
					<td>{{$index+1}}.</td>
					<td>{{b.bankId}}</td>
					<td>{{b.name}}</td>
					<td>
						<a ui-sref="bankproduct({bank:b.bankId,name:b.name})" class="btn btn-primary btn-sm" title="View Bank Product">View Bank Product</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div> -->
	<!-- Add bank modal -->
	<div class="modal fade" id="addNewLeadModal" tabindex="-1" role="dialog"  aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add New Lead</h4>
				</div>
				<div class="modal-body">
					<form name="leadForm" ng-submit="saveLead()" novalidate="novalidate">
						<div class="form-group" ng-class="{'has-error':leadForm.name.$error.required&&leadForm.$submitted}">
							<label>Name</label>
							<input type="text" class="form-control" name="name" ng-model="lead.name" required>
						</div>
						<div class="form-group" ng-class="{'has-error':leadForm.phone.$error.required&&leadForm.$submitted}">
							<label>Phone</label>
							<input type="text" class="form-control" name="phone" ng-model="lead.phone" required>
						</div>
						<div class="form-group" ng-class="{'has-error':leadForm.email.$error.required&&leadForm.$submitted}">
							<label>Email</label>
							<input type="text" class="form-control" name="email" ng-model="lead.email" required>
						</div>
						<div class="form-group" ng-class="{'has-error':leadForm.requiredamount.$error.required&&leadForm.$submitted}">
							<label>Required Amount</label>
							<input type="number" min="1" class="form-control" name="requiredamount" ng-model="loan.requiredAmount" required>
						</div>
						<div class="form-group">
							<label>Messsage</label>
							<textarea class="form-control" name="message" ng-model="transaction.message" rows="3"></textarea>
						</div>
					<form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="saveLead()">Add</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal end-->
</div>
